body{
    margin: 0;
    padding: 0;
    background-image: url("../img/descarga.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: Arial;
    height: 100vh;
    
}

.container-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-formulario{
    background-color: burlywood;
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}

h5{
    text-align: center;
    color: white;

}
label{
    text-align: center;
    color: white;
}

input{
    display: block;
     width: 300px;
     height: 30px;
     margin-bottom: 20px;
     padding: 0 15px;
     font-size: 20px;
     outline: none;
     border: none;
     background: transparent;
     color: white;
     border-bottom: 2px solid white;
 }

 .buttons{
    width: 150px;
    border-radius: 15px;
    background-color: #048620;
    color :white;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #0b5a1c;
    margin-left: 96px;
}

.buttons:active{
    background-color:#0b5a1c ;
}

